.creditcard{
    position: relative;
    padding: 50px;
    background-color: lightslategrey;
    border-radius: 5px;
  }

  .creditcardinput {
    height: 30px;
    font-size:15px;
    margin-top: 6px;;
    text-align: center;
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }
  .date {
    width: 40%;
    margin-left: auto;
  }