<ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="connected">
    <ion-card-header>
      <ion-card-title>Hello {{connecterUserEmail}}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <br><ion-button color="danger" expand="block" (click)="logout()">Logout</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Credit Card Infos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <style>
        

      </style>
      <div class="creditcard">
        <i style="color: black; font-size:x-large;position: absolute;top: 0;left: 0; margin-left: 15px;margin-top: 10px;" class="fas fa-university"> Bank</i>
        <ion-item class="creditcardinput">
          <ion-input [(ngModel)]="cardNumber" type="number"placeholder="XXXX-XXXX-XXXX-XXXX"></ion-input>
        </ion-item>

        <ion-item class="creditcardinput date">
          <ion-input [(ngModel)]="cardExp" type="text"placeholder="mm/AA"></ion-input>
        </ion-item>

        <ion-item class="creditcardinput">
          <ion-input [(ngModel)]="cardName" type="text"placeholder="Jonh Doe"></ion-input>
        </ion-item>
      </div>
      <ion-button (click)="addMyCard()" style="margin-top: 10px;" expand="block" class="creditcardbtn" shape="" color="dark" fill="outline">Save &nbsp;<i class="far fa-save"></i></ion-button>
    </ion-card-content>
  </ion-card>



</ion-content>
